<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ script('app') }}
  {{ style('app') }}
</head>
<body>
  <section>
    <div>
      <p>About sasdasdPage</p>
      <p>
        Go back to <a href="/">main page</a>.
      </p>
    </div>
  </section>
</body>
</html>
