<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ script('app') }}
  {{ style('app') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>AdonisJs simplicity will make you feel confident about your code</p>
      <p>
        Go to <a href="/about">about page</a>.
      </p>
    </div>
  </section>
</body>
</html>
