<article class="chat-message media has-background-light">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Barbara Middleton</strong>
        <small>2:52 pm</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Supellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
        <br>
      </p>
    </div>
  </div>
</article>