<article class="chat-message media has-background-light">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ message.user_username }}</strong>
        <small>{{ message.created_at }}</small>
        <br>
        {{ message.text }}
        <br>
      </p>
    </div>
  </div>
</article>