<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    @!section('title')
  </title>
  {{ style('app') }}
</head>
<body>
  @include('partials/nav')

  @!section('chat-container')

  @include('partials/common-scripts')
</body>
</html>