<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    @!section('title')
  </title>
  {{ style('app') }}
  <script src="{{ assetsUrl('app.bundle.js') }}" data-turbolinks-suppress-warning defer></script>
</head>
<body>
  @include('partials/nav')

  <main style="margin-top: 30px" class="container">
    
    @!section('main')

  </main>

  @!section('chat-container')
</body>
</html>